<!DOCTYPE html>
<html>
    <head>
        <title> Some App </title>
    </head>
    <body>
        <p> Some App </p>
        <input id="username" type="text" placeholder="Username"/>
        <input id="password" type="text" placeholder="Password"/>
        <br />
        <button onclick="loginRequest()">Login</button>
        <button onclick="createRequest()">Create User</button>
        <br />
        <p id="response"></p>
        <script>

            // POST request to load the dashboard
            function loadDashboard(username) {
                window.location.href = `/${username}/dashboard`;
            }

            // POST request to validate login credentials
            async function loginRequest() {
                const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;

                const response = await fetch("http://127.0.0.1:5000/login", {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username, password })
                })

                const result = await response.json();
                document.getElementById("response").innerText = result.message

                if (result['status'] == 200) {
                    loadDashboard(username)
                }
            }

            // POST request to create a user
            async function createRequest() {
                const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;

                const response = await fetch("http://127.0.0.1:5000/create", {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username, password })
                })

                const result = await response.json();
                document.getElementById("response").innerText = result.message
            }
        </script>
    </body>
</html>